<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New order</title>
</head>
<body>
<div th:insert="navbar"></div>
<div class="container">
    <h1>New order</h1>
    <form action="#" th:action="@{/order/create}" th:object="${order}" method="post">
        <p>First name: <input type="text" th:field="*{customer.firstname}" required/></p>
        <p>Last name: <input type="text" th:field="*{customer.lastname}" required/></p>
        <p>Phone: <input type="text" th:field="*{customer.phone}" required/></p>
        <p>Email: <input type="text" th:field="*{customer.email}" required/></p>
        <p>Order date: <input type="text" th:field="*{orderDate}" required/></p>
        <p>Start date: <input type="text" th:field="*{startDate}" required/></p>
        <p>Return date: <input type="text" th:field="*{returnDate}" required/></p>
        <p>Status: <input type="text" th:field="*{status}" required/></p>

        <input type="submit" value="Add" class="btn btn-create"/>
        <br/><br/>
        <input type="button" onclick="window.location.href = '/order';" value="Cancel" class="btn btn-del"/>
    </form>
</div>
</body>
</html>