<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Orders</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <h1>All customers in the system</h1>
    <p>Choose customer for new order</p>
    <anm_btn><a href="/order/createCustomer" class="btn btn-create" style="color: white">Add new customer <i class="fa fa-plus-square-o"></i></a></anm_btn>
    <table>
        <thead>
        <tr>
            <th>Customer Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <!--/*@thymesVar id="studentId" type=""*/-->
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstname}"></td>
            <td th:text="${customer.lastname}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td>
<!--                                <a th:href="@{/order/createOrder(id=${customer.id})}" class="btn btn-detail">Choose <i class="fa fa-search-plus"></i></a> &lt;!&ndash; http://www.thymeleaf.org/doc/articles/standardurlsyntax.html &ndash;&gt;-->
                <!--                <a th:href="@{/motorhome/edit(id=${motorhome.id})}" class="btn btn-ed">Update <i class="fa fa-edit"></i></a>-->
<!--                                <a th:href="@{/order/deleteOrder(id=${order.id})}" class="btn btn-del">Delete <i class="fa fa-trash-o"></i></a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <cncl_btn><a href="/order" class="btn btn-cancelbtn" >Cancel <i class="fa fa-plus-square-o"></i></a></cncl_btn>
</div>
</body>
<footer th:insert="footer"></footer>
</html>