<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>New order - choose motorhome</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <h1>Choose motorhome</h1>
<form action="#" th:action="@{/order/new}" th:object="${cart}" method="post">
    <p>Motorhomes that are currently available</p>
    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhome: ${motorhomes}">
            <td th:text="${motorhome.type}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.price}"></td>
<!--            <input type="hidden" th:value="${motorhome.id}"/>-->
            <td><input type="radio" th:field="*{products}" th:value="${motorhome.id}" name="selectedMotorhome"/> </td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/order/new}" th:object="${cart}" method="post">
        <p>Extras that are currently available</p>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="extra: ${extras}">
                <td th:text="${extra.type}"></td>
                <td th:text="${extra.brand}"></td>
                <td th:text="${extra.model}"></td>
                <td th:text="${extra.price}"></td>
                <!--            <input type="hidden" th:value="${motorhome.id}"/>-->
                <td><input type="checkbox" th:field="*{products}" th:value="${extra.id}" /> </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" value="Next" style="width: 25%;">Next</button>
</form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>