<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Orders</title>
</head>
<body>
<div th:insert="navbar.html"></div>

<div class="container">
    <h1>All customers in the system</h1>
    <h2>Choose customer for new order - or create a new one</h2>
    <button onclick="window.location.href='/order/createCustomer'" align="right" style="color: white; background-color: cadetblue; width: 25%">Add new customer</button>

    <form action="#" th:action="@{/order/pickcustomer}" th:object="${customer}" method="post">
        <h2>Existing customers</h2>
        <table>
            <thead>
            <tr>
                <th>Customer Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${allCustomers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                <input type="radio" th:field="*{id}" th:value="${customer.id}" required />
                </td>
            </tr>
            </tbody>
        </table>
        <button type="reset" onclick="window.location.href='/order'" align="left" style="width: 25%; background-color: #FF0000">Cancel</button>
        <button type="submit" onclick="window.location.href='/order/pickcustomer'" align="right" style="width: 25%; margin-left: 49.5%;" value="Confirm">Confirm</button>
    </form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>