<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Motorhomes</title>

</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <h1>Product selection</h1>

<!--     man skal vælge et motorhome som minimum i bestillingen.-->
    <label>Select a motorhome:</label>
    <select th:field="${orderlines}">
        <option th:each="motorhome: ${motorhomes}" th:value="${motorhome.model}" th:text="${motorhome.model}"></option>
    </select>

    <form th:object="${order}">
<!--        choose motorhome - add to orders orderlines-->
        <p>Status: <input type="text" th:field="*{status}" required/></p>
        <input type="submit" value="Add" class="btn btn-create"/>
    </form>

</div>
</body>
<footer th:insert="footer"></footer>
</html>