<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--<div th:insert="navbar.html"></div>-->
<div class="container">
    <h1>An error has occured</h1>
    <p>Contact system admin if error persists.</p>
    <anm_btn><a href="/">Go back</a></anm_btn>
    <h2 th:text="${exception.message}" th:unless="${exception.message == null}"></h2>
    <h2>Reason: (please report reason to system admin)</h2>
    <p th:text="${exception.reason}" th:unless="${exception.reason == null}"></p>
</div>
</body>
</html>