<div th:fragment="header">
    <!-- The navigation menu -->
    <div class="navbar">
        <a href="/">
            <img src="images/Mountain.png" alt="Logo">
        </a>
        <a href="#home">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Reservation <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#link1">All reservations</a>
                <a href="#link2">New reservation</a>
                <a href="#link3">Link 3</a>
                <a href="#link4">Link 4</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#bring">Pick-up</a>
                <a href="#deliver">Drop-off</a>
                <a href="#package">Cleaning</a>
                <a href="#express">Mechanic</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#company">Company</a>
                <a href="#team">Vision</a>
                <a href="#careers">Contact info</a>
            </div>
        </div>
        <!--        <a href="#contact">Contact</a>-->
    </div>
</div>