<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CDN for possible frameworks to be used -->

<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
    <title>Home</title>
</head>
<!--<div th:insert="header.html"></div>-->
<body>
    <h1 align="center">Welcome to Nordic Motorhome Rentals!</h1>
<!--    <div th:insert="reservations"></div>-->

    <form action="/login" method="post">
        <div class="container" align="center" style="padding-bottom: 16px">
            <img src="/images/Mountain.png" alt="Logo">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#d4cfc2">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>


</body>
<footer th:insert="footer"></footer>
</html>