<div th:fragment="navbar">
    <!-- The navigation menu -->
    <div class="navbar">
        <a href="/">
            <img src="" th:src="@{/images/Mountain.png}" alt="Logo">
        </a>
        <a href="/">Home</a>
        <!-- TODO: find evt. en anden måde til at vise ren "rigtige" navbar - spørg Tine / Kris -->
        <div th:if="${session.user.role == 'owner'}">
            <div class="subnav">
                <button class="subnavbtn">Manage <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="/motorhome">Motorhomes</a>
                    <a href="#link2">Extras</a>
                </div>
            </div>
        </div>

        <div th:if="${session.user.role == 'owner' or session.user.role == 'sales'}">
        <div class="subnav">
            <button class="subnavbtn">Rental <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#link1">All reservations</a>
                <a href="#link2">New reservation</a>
                <a href="#link3">All rentals</a>
            </div>
        </div>
    </div>
        <div th:if="${session.user.role == 'owner' or session.user.role == 'mechanic'}">
        <div class="subnav">
            <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#bring">Pick-up</a>
                <a href="#deliver">Drop-off</a>
                <a href="#package">Cleaning</a>
                <a href="#express">Mechanic</a>
            </div>
        </div>
        </div>
        <div th:if="${session.user.role == 'owner' or session.user.role == 'cleaning'}">
        <div class="subnav">
            <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="#company">Company</a>
                <a href="#team">Vision</a>
                <a href="#careers">Contact info</a>
            </div>
        </div>
        </div>
        <!--        <a href="#contact">Contact</a>-->
    </div>
</div>