<div th:fragment="reservations">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Reservation number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1234</td>
            <td>Processed</td>
            <td>
                <a>Details <i class="fa fa-search-plus"></i> </a>
                <a>Cancel <i class="fa fa-trash-o"></i> </a>
            </td>
        </tr>
    </tbody>
</table>
</div>