<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
    <h1 align="center">Welcome to Nordic Motorhome Rentals!</h1>
    <form action="#" th:action="@{/login}" method="post">
        <div class="container" align="center" style="padding-bottom: 0px">
            <img src="/images/Mountain.png" alt="Logo">
        </div>
        <div class="loginContainer">
            <div><p style="background-color: red;color: white;height: 30px;padding-top: 10px;;" align="center" th:text="${message}" th:unless="${message == null}"></p> </div>
            <br>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
</body>
<footer th:insert="footer"></footer>
</html>