<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User landing page</title>
</head>
<body>
    <div th:insert="navbar"></div>
    <h1>Welcome <span th:text="${session.user.firstName + ' ' + session.user.lastName }"></span>!</h1>

</body>
<footer th:insert="footer"></footer>
</html>