<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Motorhome</title>
</head>
<body>
<div th:insert="navbar"></div>
<div class="container">
<h1>Edit Motorhome</h1>
<form action="#" th:action="@{/motorhome/edit}" method="post">
    <input type="hidden" th:field="${motorhome.id}"/>
    <p>Type: <input type="text" th:field="${motorhome.type}"/></p>
    <p>Brand: <input type="text" th:field="${motorhome.brand}"/></p>
    <p>Model: <input type="text" th:field="${motorhome.model}"/></p>
    <p>Model: <input type="text" th:field="${motorhome.status}"/></p>
    <p>Price: <input type="number" min="0" th:field="${motorhome.price}"/></p>
    <input type="submit" value="Update" class="btn btn-create"/>
    <br/><br/>
    <input type="button" class="btn btn-del" value="Cancel" onclick="window.location.href = '/motorhome';">
</form>
</div>
</body>
</html>